body {
    margin: 0;
}

header {
    background-image: url(images/jimmysDiner.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    padding: 20px;
    color: #FFFFFF;
}

h1 {
    margin: 0;
}

h4 {
    display: inline;
    font-size: 28px;
}


.menu-items {
    margin: 40px;
    padding: 20px 40px;
    display: flex;
    border-bottom: 1px solid #D2D2D2;
}


.food-icon {
    font-size: 80px;
    height: 90px;
    width: 70px;
    padding: 15px 40px 15px 0px;
}

.ingredients {
    color: #8B8B8B;
}

.selected-items {
    margin: 15px auto 30px 0;
    margin-right: auto;
}

.select-item {
    margin: auto 0 auto auto;
    padding: 12px 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEDEDE;
    background-color: white;
    color: #3C3C3C;
}

.select-item:hover, 
.select-item:focus, 
.select-item:active {
    background-color: whitesmoke;
    cursor: pointer;
}

.total-section {
    text-align: center;
    padding: 20px 40px;
}

/* utility class */
.display {
    display: none;
}

.remove {
    font-size: 12px;
    color: #BBBBBB;
    background-color: white;
    border: none;
}

.remove:hover,
.remove:active,
.remove:focus {
    color: hsl(0, 0%, 58%);
    cursor: pointer;
}

.total-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #393333;
    margin-right: auto;
    padding-bottom: 20px;
}

.total-item-price {
    margin-left: auto;
}

.total-price {
    display: flex;
    align-items: center;
}

.complete-order {
    background-color: #16DB99;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    width: 100%;
    display: block;
}

.complete-order:hover,
.complete-order:focus,
.complete-order:active,
#pay-btn:hover, 
#pay-btn:focus, 
#pay-btn:active {
    background-color: hsl(160, 82%, 45%);
    outline: hsl(160, 82%, 10%);
    cursor: pointer;
}

/* payment modal */

.payment {
    background-color: whitesmoke;
    width: 550px;
    height: 550px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.payment-card {
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.payment-card h2 {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-bottom: 5px;
}

.pay-input, #pay-btn {
    display: block;
    margin: 22px auto;
    height: 75px;
    width: 400px;
    border: 1px solid #757575;
    border-radius: 7px;
    font-size: 20px;
    color: #757575;
    padding: 0 20px;
}

#pay-btn {
    color: white;
    background-color: #16DB99;
    border: none;
    box-shadow: 0 0 1px grey;
    font-weight: bold;
}

.pay-input:hover,
.pay-input:focus,
.pay-input:active {
    border: 1px solid #16DB99;
    outline: #16DB99;
}

.blur {
    filter:blur(3px);
}


.order-message {
    background-color: #ECFDF5;
    color: #065F46;
    text-align: center;
    font-size: 32px;
    padding: 50px 60px;
    margin: 10px 40px 60px 40px;
    box-shadow: 0 0 3px #065F46;
}




